PKCS7 parsing fails with empty digestAlgorithm

### Summary
PKCS7 parsing fails with `-0x5560` when `signedData` contains an empty `digestAlgorithms` field.


### System information

Mbed TLS version (number or commit id): mbedtls fork of ncs-v3.1.1 (https://github.com/nrfconnect/sdk-mbedtls/tree/main) 
Operating system and version: Ubuntu 22.04.5 LTS
Configuration (if not default, please attach `mbedtls_config.h`): `MBEDTLS_PKCS7_C` enabled
Compiler and options (if you used a pre-built binary, please indicate how you obtained it): 
Additional environment information: 

### Expected behavior
`mbedtls_pkcs7_parse_der()` successfully parses certificates with empty digestAlgorithm within their `signedData`


### Actual behavior
`mbedtls_pkcs7_parse_der()` fails with error code `-0x5560`, which is an overlay of `-0x5500 MBEDTLS_ERR_PKCS7_INVALID_ALG` and `-0x0060 MBEDTLS_ERR_ASN1_OUT_OF_DATA`.

### Steps to reproduce
Try parsing a PKCS7 container where the digestAlgorithm is empty:

E.g:
```c
SEQUENCE (2 elem)
  OBJECT IDENTIFIER 1.2.840.113549.1.7.2 signedData (PKCS7)
  [0] (1 elem)
    SEQUENCE (5 elem)
      INTEGER 1
      SET (0 elem) /* <-- This is the element that gets the function to fail */
      SEQUENCE (1 elem)
        OBJECT IDENTIFIER 1.2.840.113549.1.7.1 data (PKCS7)
```
<img width="1408" height="343" alt="Image" src="https://github.com/user-attachments/assets/2c6faa23-1856-418b-a3ce-c66787c4a9c1" />

respective binary blob (the `0x31 0x00` represents the `SET (0 elem)` member):

> 30 82 03 C3 06 09 2A 86  48 86 F7 0D 01 07 02 A0
82 03 B4 30 82 03 B0 02  01 01 **31 00** 30 0B 06 09
2A 86 48 86 F7 0D 01 07  01 A0 82 03 98 30 82 03


### Additional information
As far as I've understood [RFC 2315 Section 9.1 **SignedData**](https://datatracker.ietf.org/doc/html/rfc2315#section-9.1), the field after the `version` shall contain the `digestAlgorithms`.
<img width="514" height="600" alt="Image" src="https://github.com/user-attachments/assets/b46e592d-ecb2-487f-b4bf-f83769611a40" />

This is even more explicitly specified in the notes section:
<img width="535" height="244" alt="Image" src="https://github.com/user-attachments/assets/086ccc69-a7c6-422d-899f-ce541d994793" />

According to [readthedocs `pkcs7.h`](https://mbed-tls.readthedocs.io/projects/api/en/development/api/file/pkcs7_8h/), The signedData syntax follows version 1.

Therefore I would assume that the ` SET (0 elem)` (which should equal an empty digestAlgorithm in my opinion) should be able to be parsed without any errors.

Now here whats happening within `mbedtls`:

Parsing works fine until the function `pkcs7_get_digest_algorithm_set()`. Here the function `mbedtls_asn1_get_tag()` is called, which returns a `len` parameter of `0`.
In the upcoming calculation 
```c
end = *p + len;     /* Since len is 0, end is equal to *p */
```
<img width="1268" height="568" alt="Image" src="https://github.com/user-attachments/assets/f7bc50ac-6102-4688-a717-279317234064" />

Now the following function `mbedtls_asn1_get_alg_null()` 

<img width="950" height="407" alt="Image" src="https://github.com/user-attachments/assets/a2a2f5fa-1a59-4d81-b911-5fe0bcf23114" />

and inside of it `mbedtls_asn1_get_alg()` is called.
Here's a check for:
```c
    if ((end - *p) < 1) {    /* This fails since end is equal to *p */
        return MBEDTLS_ERR_ASN1_OUT_OF_DATA;
    }
```

<img width="1225" height="914" alt="Image" src="https://github.com/user-attachments/assets/c179e2bd-2550-4eb4-ac17-edf849347f0b" />

Therefore `MBEDTLS_ERR_ASN1_OUT_OF_DATA` is returned, its being merged with `MBEDTLS_ERR_PKCS7_INVALID_ALG` and therefore returns with error code `-0x5560` without continuing the parsing process.

Now the question:
Is this a valid bug and empty `digestAlgorithms` should be parsable, or am I interpreting the standard wrong?

Additional info:
`openssl` and online tools are parsing such PKCS7 containers without any issue.

Could you help me out with this issue?