Add negative test for legacy CBC decryption/authentication

Currently our record decryption routine `ssl_decrypt_buf()` has some unit tests in the development branch, in `tests/suites/test_suite_ssl.{function,data}`, using test functions `ssl_crypt_record` and `ssl_crypt_record_small`. Unfortunately all of those are positive tests. Before we modify the verification code for legacy CBC as part of Lucky 13 improvements, we need to have negative tests as well.

These tests could be created as an extended and specialized (with etm=0 and working only with CBC ciphers) variant of the existing test functions mentioned above, or in any other suitable way. They need to exercise at least the following modes of failure:

- the announced padding length is invalid (larger than record size)
- the padding bytes don't all have the expected value
- the padding is correct but the HMAC is not

See [RFC 5246 Section 6.2.3.2](https://tools.ietf.org/html/rfc5246#section-6.2.3.2) for a description of legacy CBC. (By legacy, I mean, without the [EtM extension](https://tools.ietf.org/html/rfc7366).)

The tests do not need to be backported to the LTS branches, as they don't support any unit testing of SSL record protection yet, and supporting that would likely require refactorings that are too large for the LTS branches.