PSA: document the export format for Montgomery public keys

The documentation of `psa_export_public_key` in `include/psa/crypto.h` is [missing the case of Montgomery public keys](https://github.com/ARMmbed/mbedtls/pull/4174#discussion_r606119916). It is present [in the specification](https://armmbed.github.io/mbed-crypto/html/api/keys/management.html?highlight=psa_export_public_key#c.psa_export_public_key).

Goal of this task:

* Add the missing case to the Mbed TLS documentation.
* Figure out why it's missing (editorial mistake? was only added after the fork?) and add anything else that was missed in the same way.


The PSA Crypto spec has the following documentation for this case:

> *  For curve family `PSA_ECC_FAMILY_MONTGOMERY`, the scalar value of the 'public key' in little-endian order as defined by RFC 7748 §6. This is a `ceiling(m/8)`-byte string where `m` is the key size in bits.
>
>    *  This is 32 bytes for Curve25519, computed as ``X25519(private_key, 9)``.
>    *  This is 56 bytes for Curve448, computed as ``X448(private_key, 5)``.