Documentation of mbedtls_ssl_read() doesn't mention PEER_CLOSE_NOTIFY

__Context:__ The [documentation of `mbedtls_ssl_read()`](https://github.com/ARMmbed/mbedtls/blob/mbedtls-2.13.1/include/mbedtls/ssl.h#L2992) states:
```
 * \return         One of the following:
 *                 - 0 if the read end of the underlying transport was closed,
 *                 - the (positive) number of bytes read, or
 *                 - a negative error code on failure.
```
and goes on to explain the meaning of precisely the error codes `MBEDTLS_ERR_SSL_WANT_READ`, `MBEDTLS_ERR_SSL_WANT_WRITE` and `MBEDTLS_ERR_SSL_CLIENT_RECONNECT` in more detail.

__Issue:__ Every orderly connection ends with an exchange of `CloseNotify` alerts (see [RFC 5246, Section 7.2.1](https://tools.ietf.org/html/rfc5246#section-7.2.1)), and `mbedtls_ssl_read()` returns `MBEDTLS_ERR_SSL_PEER_CLOSE_NOTIFY` in case it finds a `CloseNotify` from the peer. However, despite being the expected end of every connection, this return value is not explicitly documented. 

__Task:__ The documentation must mention `MBEDTLS_ERR_SSL_PEER_CLOSE_NOTIFY` explicitly. Further, the difference between returning `0` and `MBEDTLS_ERR_SSL_PEER_CLOSE_NOTIFY` must be explained: The former means that the read-side of the underlying transport has been closed (which can have various reasons, from an internal error in the underlying stack to a non-conformant peer closing the underlying transport [e.g. TCP] without sending a `CloseNotify` beforehand); the latter means that the underlying transport is still functional but the peer has just acknowledged to not send anything anymore. These conditions must be treated differently because only in the case of `MBEDTLS_ERR_SSL_PEER_CLOSE_NOTIFY` should the receiver consider to send a `CloseNotify` himself before closing the connection. 

This came up in [Curl issue #2899](https://github.com/curl/curl/issues/2899) and subsequently in [the forum](https://forums.mbed.com/t/mbedtls-ssl-read-returns-0-can-you-explain-how-its-different-from-close-notify/3449).

ARM Internal Ref: IOTSSL-2616

mbedtls also logs this at error level:
```
mbedtls_ssl_handle_message_type() returned -30848 (-0x7880)
mbedtls_ssl_read_record() returned -30848 (-0x7880)
```
CLoseNotify is not an error condition and should not be treated as such