Session resumption is accepted after a fatal alert

Per [RFC 5246 §7.2.2](https://datatracker.ietf.org/doc/html/rfc5246#section-7.2.2):

> any connection terminated with a fatal alert MUST NOT be resumed.

But it was reported in https://github.com/ARMmbed/mbedtls/issues/4613 that Mbed TLS 2.25.0, session resumption is accepted based on session IDs even if the previous connection was terminated using a fatal alert. When fixing the bug, please credit the reporters of #4613.
