mbedtls2.16.3 accepts invalid certificate whose key identifier field of the authority key identifier extension is not the same as subject key identifier in issuer

Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug
- Priority: Blocker | Major | Minor

I recently created a certificate chain [rootCA,intermediate certificate,leaf certificate], where the key identifier field of the authority key identifier extension of leaf certificate is not the same as subject key identifier in issuer (intermediate certificate). Clearly, leaf certificate violate Section 4.2.1.2, RFC5280: “In conforming CA certificates, the value of the subject key identifier MUST be the value placed in the key identifier field of the authority key identifier extension (Section 4.2.1.1) of certificates issued by the subject of this certificate.”. Meanwhile, the chain can still pass certificate verification with mbedtls2.16.3. however, the chain was rejected in openssl. 
the  key identifier field of subject key identifier of intermediate certificate is:
```
92:3E:8A:51:4A:96:4C:7C:F0:31:0A:F5:0F:0A:EE:13:66:68:77:F0
```
the  key identifier field of authority key identifier of leaf certificate is:
```
92:3E:8A:51:4A:96:6D:6F:F0:1D:0A:F5:0F:0A:EE:FF:66:68:77:F0
```
---------------------------------------------------------------
## Bug

**OS**  
Mbed linux

**mbed TLS build:**  
Version: mbedtls-2.16.3
OS version: Ubuntu16.04
Compiler and options (if you used a pre-built binary, please indicate how you obtained it):  
```
$ cmake -DUSE_SHARED_MBEDTLS_LIBRARY=On .    // 启用生成动态链接库选项
$ make
$ sudo make install
```
**Expected behavior**   
```
failed
````
**Actual behavior**  
```
ok
```
**Steps to reproduce**  
```
cert_app mode=file  filename=leaf.pem   ca_file=1.pem
```
**reason** 
Through debugging, I found that mbedtls did not check the authority key identifier when finding the issuer of the certificate, however openssl did these. 
mbedtls only compare issuer name of leaf certificate with subject name of issuer.
the mbedtls code:
![Image Text](https://github.com/llqll/image/raw/master/1.png)
the openssl code:
![Image Text](https://github.com/llqll/image/raw/master/0.png)
**certificate** 
1.pem (it contains two certificates inside):
```
-----BEGIN CERTIFICATE-----
MIIGCDCCA/CgAwIBAgIQY8Mi35RmHbQSpWR8XD7V+zANBgkqhkiG9w0BAQsFADBt
MQswCQYDVQQGEwJDTjEMMAoGA1UECAwDVEo1MQwwCgYDVQQKDANUSlUxFDASBgNV
BAsMC2JlaXlhbmd5dWFuMQswCQYDVQQDDAJDUzEfMB0GCSqGSIb3DQEJARYQbGpm
cG93ZXJAMTYzLmNvbTAgFw0wMDAxMDEwMTAwMDFaGA82NTY2MDMyMzEyMTIzM1ow
ajELMAkGA1UEBhMCQ04xDDAKBgNVBAgMA1RKNTEMMAoGA1UECgwDVEpVMRQwEgYD
VQQLDAtiZWl5YW5neXVhbjENMAsGA1UEAwwEYjMyNjEaMBgGCSqGSIb3DQEJARYL
bGkxQDE2My5jb20wggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQDUWAVE
VHGqn3tPc+kJTGwXpsiD+pwu287ibcwa7nlcQ8KyrwbS/7dnhK3Mpz3jjkbk9Zqw
Ju8R5ku9hEsSX3ZW7KQYj+jqVWVnLNlp5j0a1G2fdB7vn0ORtj9GgFAbKn37cXqo
6G2EyQ0NXhpOiwUtQXSnhbMUUJal2jMSaSGSKyyex9lDrZfSzQ164VIvMKz49kPB
Z6EupA0E6QkwZ1a8wGthdhQ3tJrHt0jcmBVpJ5mo9zlvX7ErsK4prXgJvBQR/IRc
YhqYHxsKLq/mgjezNqy/WoPN313HxDG8YETy8m9BKWI5OLBHIr0kahmBFumttlGa
a4rW+w2NZz8jtrnkM8sFSEoegO7xA8JZdO6O3mSedWOiA2zEuT8hQqkSYDSdZxOd
J1u/mdyumLErXquenaMTAHb0lviNc7llZqDKMJ8yfROZwv9PDCs3OBGOttr3MMRT
JHN5f4ZStqx6unV90Rx8QIh8wstG3c/QrJ4lBS+c72A6bMmxLpiTg1+CjG9ntgvC
mspMbVlu710Y7JHcAuq9RSnR0Nv31AGjOZEpKAGpUfzoVf47GYV38VpLskgy0tiA
Tesse5g8rUE9ozwgj6B34qfNdPxCmv6UkLYxU/CLpw2cRKT8hShAO8zDfgmU9262
ctTdrVU3PsSwMs7F8SlG/9kWq6HgqaBPadCsRwIDAQABo4GkMIGhMB0GA1UdDgQW
BBSSPopRSpZMfPAxCvUPCu4TZmh38DAfBgNVHSMEGDAWgBRyFaB24RFh9c9zf0+D
YA01twtiWjASBgNVHRMBAf8ECDAGAQH/AgEAMA4GA1UdDwEB/wQEAwIBhjA7BgNV
HREENDAyggdhYmMuY29tggkqLmFiYy5jb22CB3h5ei5jb22CDXd3dy5iYWlkdS5j
b22HBH8AAAEwDQYJKoZIhvcNAQELBQADggIBAJwtzZT7z1eImP8a7GTnfbPYu8k4
kdbGnWSyrEr8x6UjZQLCa1DXdxKkms84yCW1QM5vdKody/Sz1lvETPeTgpXRLlcO
i/75L+Knz1asfz3D+SO/YCSc/VF27GnkKyjFlt7LUmHuFUQoprpCi12wJ0IJP5D6
AQarnWuS2AA4op0exLrK1+BonYyqH//QDt5jhUJFEKQVgckHOtVOklHmazplr8bu
JzHz0+C7mDtZbLXoBSgZIFaVCSk4uxsf98QWOxKQURUv8gAhHLOo/QlkyqiiFCaN
1Se0Zp16pegTxs0qS8qY1pLgw4AO56ifG+LcOmYminbAZtApmiOvtxf8JAw5Twc8
6gLRlq2cv/bY55hZde4uvUzC/Te/zENu9rlv7qQqQ9jS5tiWZjZVqhEt275KymBT
4855pB+8oGb5Xznl6/AzmxUbOmRX1q5bbv+11ZscRtUp3XD3gA5Y5UYBF5UVICcb
zTVUNDgaUjyuXIiF/ZFtbcxX57PfIqKHP3A2XseUhpN3qFSWb29BsTAa7E59s8pL
0m/aftSXF1g/8q0IsHFuZRv4l+eyYWJhwtQTY9TTHnjYJbljcwGtVjYuAfMB+eec
beH0LdKLVbOKlMPySiqy18cKDkwQ1wTPqoZnz5/mKRr5Hpt/RKSe997NjIeuJZl0
W0ebRMo2T0FNhUhm
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
MIIGCDCCA/CgAwIBAgIQY8Mi35RmHbQSpWR8XD7V+jANBgkqhkiG9w0BAQsFADBt
MQswCQYDVQQGEwJDTjEMMAoGA1UECAwDVEo1MQwwCgYDVQQKDANUSlUxFDASBgNV
BAsMC2JlaXlhbmd5dWFuMQswCQYDVQQDDAJDUzEfMB0GCSqGSIb3DQEJARYQbGpm
cG93ZXJAMTYzLmNvbTAgFw0wMDAxMDEwMTAwMDBaGA85OTk5MTIyMzExMjMzNFow
bTELMAkGA1UEBhMCQ04xDDAKBgNVBAgMA1RKNTEMMAoGA1UECgwDVEpVMRQwEgYD
VQQLDAtiZWl5YW5neXVhbjELMAkGA1UEAwwCQ1MxHzAdBgkqhkiG9w0BCQEWEGxq
ZnBvd2VyQDE2My5jb20wggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQC+
WcvCnpCA78zG1ZkRhiIPjPEmFx3PHaX5f+KYod68qvCqsRGsB4n7rQS2ljFUZ7MY
4GNWtiMZANdWMuOrnkT0sNmtQ1aXWh+6lMUKLr/690SkKMbKU1y6OTfGBntau6em
1djv9Q8fYmapdne3tr5UNTJBvqc5qivWiF98XUQdp8qGKLYfF0NOxkreD6u4Pddo
/6PR5pn+nbgCHkDFmVGL+0DtZzC+K/NQbKpmP4/Zpolf1C5wPpxWPpjDl/yRSctC
qX1G0WGyB8/w/IR94Gx3rDmA/NkZMP+4tXBFVSoz0XJpdNqCtwxCkl6NqLpMN0gp
XrU78ToNnTiUW4zoyIfKBSlXRkPd4srgB8gTO3cHqJkSmzt/gFMnbBP1gNV10R0P
KzbNuV/uIHx5wGYJIW8w9fL8hKrCYcO5Yfq3VDGy9Lr3/5QFYI36oPLIw0cZS/i+
NyPLYT1TN/o6E8dtnsz1AY+VQyriW44CB6J3tlfrGLigfP81rsaQpcGd+W+0ntyc
cWpzRKwwut3I9CJSGjRuwHfz0n6Fk+Hoj+i+Qv6h/y7+KwqjDMMHIrbieBhUwQbm
Hlyj25IwyvYc6OOBymAyy8pUByAC7QWw4KxogDol6165iAubaupDxkDQXKr/IMmj
pCcTBDmVwhStVBDCD6Lo4HhxDE5a6IA4DSxdWIV2iQIDAQABo4GhMIGeMB0GA1Ud
DgQWBBRyFaB24RFh9c9zf0+DYA01twtiWjAfBgNVHSMEGDAWgBRyFaB24RFh9c9z
f0+DYA01twtiWjAPBgNVHRMBAf8EBTADAQH/MA4GA1UdDwEB/wQEAwIBhjA7BgNV
HREENDAyggdhYmMuY29tggkqLmFiYy5jb22CB3h5ei5jb22CDXd3dy5iYWlkdS5j
b22HBH8AAAEwDQYJKoZIhvcNAQELBQADggIBAFYRDs+WyMwr8rPCkzFHnMK0ePfD
cWc1O1L02foAePXEicrqQwv7JnsikBsx28E0T+mjqFU+7IIq7K+T0ndlEfax96Gi
j3H8zfwAG10JBFMjsFtdo8Hq6Q4CeMu1D83NPhQacZ1lOdCp/ZUdRvlcveeBx5VX
hFel6erfsR+6GX6I0b2Z9qIBKwmpxLcsPkY60RuazvkSf7xAd4eNJ18vzdo55J1c
x6mJK+c5J63a/IW6rjEd2v6URwwlbOyuRSurXoETMxYwuxs7pBnxA3MRU/OWIaCy
fAO+2ao4qn4WNo4oGo1BJBaX+mQJa+NwCw2F+sRqGZ+3ooSq2bjjXrLxiytr4b+o
fUBiCzhZLOGaRubJXlWp39dgLf6mo3ajjYPhTUtlqv0ZfX97C7xEXitNY3Dy9aqe
NnQn2+u2dkzEMTc+zW5i+xkByRhoSXY5AhYDdyd0Qtuk1T8sRs38TJmavr6/H6hv
6FGrmgqFypmsVy1LdRAn80yVBce1t3eWcgVnTND+wSS8mEj9rHS4th4sZbwwpVWJ
Z0cJSFnqSLMh7ZrDyzcKFUhgdU7GxuaACxIbBt3f5pCp1QDKffb3kVG333l/OLqN
2qYOTP6iFf3JpKttNvaSA9Q+GNk4t/8ozZW6lfyz+uDfmQecEgAv/u1s1brMgQo7
TQ/vJrJvgyxVSgOH
-----END CERTIFICATE-----

```
the leaf.pem :
```
-----BEGIN CERTIFICATE-----
MIIFuDCCA6CgAwIBAgIRAPABuQ6DmexEq0k9QQaewMgwDQYJKoZIhvcNAQENBQAw
ajELMAkGA1UEBhMCQ04xDDAKBgNVBAgMA1RKNTEMMAoGA1UECgwDVEpVMRQwEgYD
VQQLDAtiZWl5YW5neXVhbjENMAsGA1UEAwwEYjMyNjEaMBgGCSqGSIb3DQEJARYL
bGkxQDE2My5jb20wHhcNMDEwMTAxMDEwMDAwWhcNMzUxMjIzMTEyMzM0WjAAMIIB
IjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEArXvIlHbQRwFvnLFz2dsnbPBg
E8WIDRpIIpRTWJL+pdi/duUcE5XnVRNA0lnlYBOl8igItyFudUC4o45xa0Q9Htd8
hisbdaHpRpdTRUUpljH9rOOWOyY0aqRJ0RrU2ayhJslTH9OBBg1ZaatMYxI2u8Bz
1MJrtsCUcvymScT59QAYI17ZAzI5ouqUsn3F5BgiU53kdm4ubfKts2su/sUvM9BN
03+/p2o/50FanBVrRMHAUs2p65FMyFtNwqT77ZpO9BZdEOV3KSRJRLbZbELoanMQ
0txztznWI6PULTenf8eR24dQscqXN38Qk+SGwp/lu/6qLN916oY2WFTRGrnCcwID
AQABo4IBwTCCAb0wCQYDVR0TBAIwADAdBgNVHQ4EFgQUjQbPWu5jN7z4SYDgxnTo
E9TQCyIwHwYDVR0jBBgwFoAUkj6KUUqWbW/wHQr1Dwru/2Zod/AwDgYDVR0PAQH/
BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDBDAoBgNVHREEITAf
ggVhLmNvbYIIKi5hYy5jb22CBnh6LmNvbYcEfwAAATAYBgNVHRIEETAPgg1hYmNl
d3dyd3QuY29tMDAGCCsGAQUFBwEBBCQwIjAgBggrBgEFBQcwAoYUaHR0cDovL215
LmNhL2NhLmh0bWwwgbAGA1UdIASBqDCBpTAFBgMqAwQwBgYELQYHCDCBkwYDKwUI
MIGLMCEGCCsGAQUFBwIBFhVodHRwOi8vbXkuaG9zdC5uYW1lLzswIQYIKwYBBQUH
AgEWFWh0dHA6Ly9teS55b3VyLm5hbWUvOzBDBggrBgEFBQcCAjA3MCEWEU9yZ2Fu
aXNhdGlvbiBOYW1lMAwCAQECAQICAQMCAQQaEkV4cGxpY2l0IFRleHQgSGVyZTAM
BgNVHSQEBTADgAEDMAoGA1UdNgQDAgECMA0GCSqGSIb3DQEBDQUAA4ICAQB4/6th
xs0tdxXEgxnY8kjU6+OzDTAc7oTJ1ok6Y8slE6zOoN/ZGclNrIfabE10uZKaKNLm
Y/GptkgjjUyv043/uKlLQWtJ9rc0ROzrfKtIN5UdYt5LfKfRRrZKLwDCC8lBFROn
kRl8J6Pggd0Y+kffF9SeDJSF2rbATUzxFCEHxztJhas1KZVjNMVU1kOk2R0b2L6j
yE6UCxgt8QMMTSPUvLaTAfw3G1xev9+Gga5r4RissX60+VDvolpkhObNs8MDIqSl
ll4o9LXUFHY8+a48pKXlcDrCSIWggJOaC3oGzkTMnSs8V4gQeTuA3eZJgiGSdSXc
apH1h7LWwSNIT3BedlZFpFiUyXvlZOWvd1zCqydO7RuME4pJ4d0GXH3h5tQCs3uE
7f2YiLZY46iWBLG5qSvtLddiaCx7h8SY5qLLMHIjADxckzPkL55FwfNJtOqNTDO1
psJGFXcAft8H/LqqqN0XxFCSr/QGlmsCJF9hNEg8K4L4Zx/hZdODxGLi7XrvETOu
tGIH/VaciBsaScXbAdVMLN3jpG/FcVaXHQM6ehLFbqQM+hdHO9g/e/wDgFKjSbv7
IvESPedVJj1fb/UdeXIhSWKdCUwi64ggCOdocXDEtbx0J1Sks3dtR9igWixYhCCp
q4dG931dO/VL42b1z0a1G9EBGvirI0vkTii20g==
-----END CERTIFICATE-----
```



Hi @llqll 
Thank you for the detailed report!
I believe you are correct with your analysis.


ARM Internal Ref: IOTSSL-2978

Certainly worth implementing, but just fyi, per RFC 5280 section 4.2.1.2 "Applications are not required to verify that key identifiers match when performing certification path validation."

I've just tried running `./cert_app mode=file filename=leaf.pem  ca_file=1.pem` with mbedtls-2.16.3, 2.28.0 and tip of development.

mbedtls-2.16.3 fails with `The certificate is not correctly signed by the trusted CA`. 2.28.0 and tip of development succeed.

`openssl verify -issuer_checks -verbose -untrusted 1.pem  leaf.pem` fails with: `error 30 at 0 depth lookup:authority and subject key identifier mismatch

error 29 at 0 depth lookup:subject issuer mismatch

error 20 at 0 depth lookup:unable to get local issuer certificate`

So probably we need to evaluate whether current behaviour is correct.