TLS 1.3 server re-issues stale-ALPN tickets after cross-ALPN resumption

Consider a TLS 1.3 server with session tickets and ALPN enabled.

1. A client connects with ALPN=Bob. The connection succeeds, and the server issues a session ticket T1 for later resumption.
2. The client connects with ALPN=Charlie, resuming from ticket T1. The connection succeeds, and the server issues a ticket T2 for later resumption.
   Bug: T2 records ALPN=Bob, copied from the original ticket, instead of ALPN=Charlie as directed by [RFC 7301 §3.1](https://datatracker.ietf.org/doc/html/rfc7301#section-3.2) (“When session resumption or session tickets [RFC5077] are used, the previous contents of this extension are irrelevant, and only the values in the new handshake messages are considered.”).
3. The client connects with ALPN=Charlie, attempting to resume from ticket T2. The client sends early data. The connection fails because the server enforces [RFC 8446 §4.2.10](https://datatracker.ietf.org/doc/html/rfc8446#section-4.2.10), which states that early data may only be accepted if the PSK is associated with the selected ALPN. The session resumption attempt is valid, but it fails because the server makes a decision based on incorrect data (the ticket T2) that it created in the previous step.

In a variant of this scenario, at step 3, the client connects with ALPN=Bob, and resuming from T2 succeeds even though it should not. This variant step 3 violates RFC 8446 §4.2.10 on the basis of externally observed behavior, which looks like a policy violation. However, this violation is benign because it only allows the client to do what it could do anyway by using the ticket T1.

The second scenario was originally reported saikumar279 through a security channel. After internal review, we concluded that there is a functional bug, but it does not actually increase the adversary's capabilities, so it is not a vulnerability.


https://github.com/gilles-peskine-arm/mbedtls/tree/tls13-ticket-stale-alpn-3.6-1 has a fix and a non-regression test for the variant scenario. We should add a non-regression test for the first scenario.