Prepare SSL session serialization for introduction of TLS 1.3 session (tickets)

Currently, session serialization in TLS 1.2 does not store an identifier for the TLS-version used by the session, and uses only a fixed (for a given config) serialization layout.

With the introduction of support for TLS 1.3, we will need a field indicating whether the serialized session is for TLS 1.2 or TLS 1.3. Moreover, for TLS 1.3, we will want to use a different - more compact - format for the serialized data which will look something like this:

```c
/*
 * Serialize a session in the following format:
 * (in the presentation language of TLS, RFC 8446 section 3)
 *
 *  struct {
 *
 *    opaque mbedtls_version[3];   // major, minor, patch
 *    opaque session_format[2];    // version-specific 16-bit field determining
 *                                 // the format of the remaining
 *                                 // serialized data.
 *  
 *          Note: When updating the format, remember to keep
 *          these version+format bytes.
 *  
 *                                 // In this version, `session_format` determines
 *                                 // the setting of those compile-time
 *                                 // configuration options which influence
 *                                 // the structure of mbedtls_ssl_session.
 *  
 *    uint8_t minor_ver;           // Possible values:
 *                                 // - TLS 1.2 (MBEDTLS_SSL_MINOR_VERSION_3) 
 *                                 // - TLS 1.3 (MBEDTLS_SSL_MINOR_VERSION_4) 
 *   
 *    select (serialized_session.minor_ver) {
 *
 *      case MBEDTLS_SSL_MINOR_VERSION_3: // TLS 1.2
 *        uint64 start_time;
 *        uint8 ciphersuite[2];           // defined by the standard
 *        uint8 compression;              // 0 or 1
 *        uint8 session_id_len;           // at most 32
 *        opaque session_id[32];
 *        opaque master[48];              // fixed length in the standard
 *        uint32 verify_result;
 *        opaque peer_cert<0..2^24-1>;    // length 0 means no peer cert
 *        opaque ticket<0..2^24-1>;       // length 0 means no ticket
 *        uint32 ticket_lifetime;
 *        uint8 mfl_code;                 // up to 255 according to standard
 *        uint8 trunc_hmac;               // 0 or 1
 *        uint8 encrypt_then_mac;         // 0 or 1
 *
 *      case MBEDTLS_SSL_MINOR_VERSION_4: // TLS 1.3
 *        uint64 start_time;
 *        uint8 ciphersuite[2];
 *        uint32 ticket_lifetime;
 *        uint32 ticket_age_add;
 *        uint8 ticket_flags;
 *        opaque resumption_key<0..255>;
 *        opaque ticket<0..2^16-1>;
 *
 *   };
 *  
 * } serialized_session;
 * 
 */
```

As a preparation for this, we should add the `minor_ver` field and the logic around it to `development` now, so when we upstream TLS 1.3 support, we only need to add the new switch branch for TLS 1.3.

Note that this is not an API break because we make no stability promises for session serialization: Sessions that were serialized in different versions or different configs are not compatible.