Bug in SCSV

There seems to be a bug in SCSV. Since a few weeks (probably the grade changes in January), SSL Labs no longer reports that my webserver has SCSV support. They say it's due to an issue in mbed TLS. My bugreport to SSL Labs can be found [here](https://github.com/ssllabs/ssllabs-scan/issues/460).

I already sent this issue to Paul, but I heard he's no longer involved in mbed TLS development. He said he forwarded the issue to the current developers, but I like to be informed about the progress and hope to receive a patch.

Hi @hsleisink! Yes, @pjbakker, forwarded on the issue yesterday so we're aware of it and looking into it. 

Thanks for raising this with us.

ARM Internal Ref: IOTSSL-1223

Is it possible to receive a patch for this issue? I want to release a new Hiawatha version and I want this issue to be fixed in this new release. Or can I wait for a new mbed TLS release? Thanks.

@hsleisink, thank you for raising this issue. I have read the discussion at https://github.com/ssllabs/ssllabs-scan/issues/460. As pointed out, the problem is that the mbed TLS server code at [library/ssl_srv.c](https://github.com/ARMmbed/mbedtls/blob/development/library/ssl_srv.c#L1710) does not check that TLS_FALLBACK_SCSV is the last element in the cipher suite vector of the ClientHello. Please note that the missing check is marked as SHOULD in [RFC7507 Section 4](https://tools.ietf.org/html/rfc7507#section-4). Furthermore, this recommendation is respected by mbed TLS clients as shown [here](https://github.com/ARMmbed/mbedtls/blob/development/library/ssl_cli.c#L904).

I have created [this PR](https://github.com/ARMmbed/mbedtls/pull/816) that addresses the issue.


Any update about when this issue will be fixed in an official release?

Sorry for the late response @hsleisink. This will be included in the next quarterly release.

Did this make it in the 2.5 release?

Hi @sg- 

This missed the `mbedTLS-2.5.0` release, but will be in `mbedTLS-2.5.1`.

Closing, as I believe this issue was fixed and merged in #924