ssl-opt.sh does not pass with a full configuration

### Description
- Type: Bug
- Priority: Blocker - a test script is failing with a 'standard' configuration
[Edited by mpg to add: Note: this causes a failure of `tests/scripts/basic-build-tests.sh` which is part of the standard release assessment process.]

---------------------------------------------------------------
## Bug

**OS**  
linux

**Expected behavior**   

`ssl-opt.sh` when executed with unmodified source code should pass all tests with the full set of configurations.

**Actual behavior**  

If you enable all options in the configuration `ssl-opt.sh` no longer passes.

**Steps to reproduce**  

```
./scripts/config full
make
make test
./tests/ssl-opt.sh
```
Now observe multiple test failures.


ARM Internal Ref: IOTSSL-2495

On my machine, `ssl-opt.sh` fails as soon as I enable `HAVEGE_C`, with UBSan reporting an undefined integer shift when `ssL_server2` starts - I couldn't confirm the problem so far, though.

Another problem for me is that `MBEDTLS_ENTROPY_NV_SEED` is enabled in the full config, but no proper seed file is guaranteed. In my case, this leads to the initial entropy update to fail.

The configuration explicitly says:
```c
/* \note If you use the default implementation functions that read a seedfile
 *       with regular fopen(), please make sure you make a seedfile with the
 *       proper name (defined in MBEDTLS_PLATFORM_STD_NV_SEED_FILE) and at
 *       least MBEDTLS_ENTROPY_BLOCK_SIZE bytes in size that can be read from
 *       and written to or you will get an entropy source error! The default
 *       implementation will only use the first MBEDTLS_ENTROPY_BLOCK_SIZE
 *       bytes from the file.
 *
 * \note The entropy collector will write to the seed file before entropy is
 *       given to an external source, to update it.
 */
#define MBEDTLS_ENTROPY_NV_SEED
```

I think `MBEDTLS_ENTROPY_NV_SEED` shouldn't be enabled in the full config, or we must ensure that there exists a default NV seed file.

On one hand, I think testing with full configuration is important, including the entropy module, so we should probably have a default NV seed file
On the other hand, if we check configuration with all entropy sources enabled, some, we may be skipping some buggy entropy sources, as we still collect sufficient entropy from all sources.

Open question:
Should we enable all entropy sources, or run the test for only a single strong entropy source at a time( iterate through all strong entropy sources)?

Apart from the issues above, there is a problem with PMTU discovery in the test `DTLS client reconnect from same port: no cookies`: The client attempts to reconnect with a `ClientHello` without a cookie, which the server rejects and resets. The client's second `ClientHello` is sent while the server resets and gets lost, and so the client falls back to an MTU of 508 bytes for the second retransmission. This leads to `ClientHello` being fragmented, but we currently don't support incoming fragmented `ClientHello` messages, hence the server continually drops them, eventually leading to a timeout failure on the client.

The next failure in `DTLS fragmenting: client-initiated, server only (max_frag_len)` is also due to `ClientHello` being too large to fit into the MTU of 512 bytes configured in this test, and hence it's being fragmented. 

__Summary:__
The failures observed in `ssl-opt.sh` are due to the use of fragmented `ClientHello` messages which are deliberately not supported on the server-side. The failures are not seen in the default configuration because they happen only if `ClientHello` exceeds ~500 bytes, and a large number of enabled configuration options influences the length of the `ClientHello` through the number of extensions it contains.

__Details:__
Messages are fragmented if their length exceeds the _effective_ MTU, which is determined by:
1. The Maximum Fragment Length (MFL) extension, as configured by the user.
2. The Maximum Transmission Unit (MTU), as configured by the user.
3. Estimated PMTU. Most significantly, the effective MTU is 508 bytes from the second retransmission of a flight.

The failures we're seeing are due to the effective MTU being less than the size of a `ClientHello`:

1. For some tests such as `DTLS fragmenting: client-initiated, server only (max_frag_len)` or `DTLS fragmenting: proxy MTU, simple handshake` this is because the MFL or configured MTU are already too small for the `ClientHello`. 
2. For other tests such as `DTLS client reconnect from same port: no cookies`, this is due to PMTU auto-reduction to 508 bytes are two unsuccessful transmissions.

Tests of kind (1) are _malformed_ because the reassembly of `ClientHello` messages on the server-side requires the server to allocate state, which is explicitly discouraged in [DTLS RFC 6347](https://tools.ietf.org/html/rfc6347) and, to my knowledge, why we don't support it. 

For these tests, I see the following options:
1. Increasing the configured value of MFL and MTU to ensure the `ClientHello`'s length doesn't exeed the bounds even in large configurations.
2. Ignoring MTU and MFL when writing the `ClientHello` and never fragmenting it.

The test (2), this is not a misconfiguration, as it may even happen when MTU and MFL have their default values of 16K. Instead, when implementing the [MTU auto-reduction described in Section 4.1.1.1 of RFC 6347](https://tools.ietf.org/html/rfc6347#section-4.1.1.1), we might
1. Not fall back to a value not large enough to send the `ClientHello` without fragmentation, or
2. Keep the fallback to 508 bytes that we're using now, relying on solution (2) to ignore this setting for `ClientHello` messages.


These are the test failures in `basic-build-test.sh`:

```
DTLS client reconnect from same port: no cookies ....................... FAIL
  ! bad client exit code (expected 0, got 1)
  ! outputs saved to o-XXX-399.log
DTLS client auth: required ............................................. PASS
DTLS client auth: optional, client has no cert ......................... PASS
DTLS client auth: none, client has no cert ............................. PASS
DTLS wrong PSK: badmac alert ........................................... PASS
DTLS reassembly: no fragmentation (gnutls server) ...................... PASS
DTLS reassembly: some fragmentation (gnutls server) .................... PASS
DTLS reassembly: more fragmentation (gnutls server) .................... PASS
DTLS reassembly: more fragmentation, nbio (gnutls server) .............. PASS
DTLS reassembly: fragmentation, renego (gnutls server) ................. PASS
DTLS reassembly: fragmentation, nbio, renego (gnutls server) ........... PASS
DTLS reassembly: no fragmentation (openssl server) ..................... PASS
DTLS reassembly: some fragmentation (openssl server) ................... PASS
DTLS reassembly: more fragmentation (openssl server) ................... PASS
DTLS reassembly: fragmentation, nbio (openssl server) .................. PASS
DTLS fragmenting: none (for reference) ................................. PASS
DTLS fragmenting: server only (max_frag_len) ........................... PASS
DTLS fragmenting: server only (more) (max_frag_len) .................... PASS
DTLS fragmenting: client-initiated, server only (max_frag_len) ......... RETRY RETRY FAIL
  ! bad client exit code (expected 0, got 143)
  ! outputs saved to o-XXX-417.log
DTLS fragmenting: client-initiated, server only (max_frag_len), proxy MTU  RETRY RETRY FAIL
  ! bad client exit code (expected 0, got 143)
  ! outputs saved to o-XXX-418.log
DTLS fragmenting: client-initiated, both (max_frag_len) ................ RETRY RETRY FAIL
  ! bad client exit code (expected 0, got 143)
  ! outputs saved to o-XXX-419.log
DTLS fragmenting: client-initiated, both (max_frag_len), proxy MTU ..... RETRY RETRY FAIL
  ! bad client exit code (expected 0, got 143)
  ! outputs saved to o-XXX-420.log
DTLS fragmenting: none (for reference) (MTU) ........................... PASS
DTLS fragmenting: client (MTU) ......................................... RETRY RETRY FAIL
  ! bad client exit code (expected 0, got 143)
  ! outputs saved to o-XXX-422.log
DTLS fragmenting: server (MTU) ......................................... PASS
DTLS fragmenting: both (MTU) ........................................... RETRY RETRY FAIL
  ! bad client exit code (expected 0, got 143)
  ! outputs saved to o-XXX-424.log
DTLS fragmenting: proxy MTU: auto-reduction ............................ FAIL
  ! bad client exit code (expected 0, got 1)
  ! outputs saved to o-XXX-425.log
DTLS fragmenting: proxy MTU: auto-reduction ............................ SKIP
DTLS fragmenting: proxy MTU, simple handshake .......................... RETRY RETRY FAIL
  ! bad client exit code (expected 0, got 143)
  ! outputs saved to o-XXX-427.log
DTLS fragmenting: proxy MTU, simple handshake, nbio .................... RETRY RETRY FAIL
  ! bad client exit code (expected 0, got 143)
  ! outputs saved to o-XXX-428.log
DTLS fragmenting: proxy MTU, resumed handshake ......................... RETRY RETRY FAIL
  ! bad client exit code (expected 0, got 143)
  ! outputs saved to o-XXX-429.log
DTLS fragmenting: proxy MTU, ChachaPoly renego ......................... RETRY RETRY FAIL
  ! bad client exit code (expected 0, got 143)
  ! outputs saved to o-XXX-430.log
DTLS fragmenting: proxy MTU, AES-GCM renego ............................ RETRY RETRY FAIL
  ! bad client exit code (expected 0, got 143)
  ! outputs saved to o-XXX-431.log
DTLS fragmenting: proxy MTU, AES-CCM renego ............................ RETRY RETRY FAIL
  ! bad client exit code (expected 0, got 143)
  ! outputs saved to o-XXX-432.log
DTLS fragmenting: proxy MTU, AES-CBC EtM renego ........................ RETRY RETRY FAIL
  ! bad client exit code (expected 0, got 143)
  ! outputs saved to o-XXX-433.log
DTLS fragmenting: proxy MTU, AES-CBC non-EtM renego .................... RETRY RETRY FAIL
  ! bad client exit code (expected 0, got 143)
  ! outputs saved to o-XXX-434.log
DTLS fragmenting: proxy MTU + 3d ....................................... FAIL
  ! bad client exit code (expected 0, got 1)
  ! outputs saved to o-XXX-435.log
DTLS fragmenting: proxy MTU + 3d, nbio ................................. FAIL
  ! bad client exit code (expected 0, got 1)
  ! outputs saved to o-XXX-436.log
DTLS fragmenting: gnutls server, DTLS 1.2 .............................. PASS
```

@hanno-arm - Can you please confirm that all the failures can be explained by your analysis above?

@sbutcher-arm I confirm that. `DTLS client reconnect from same port: no cookies` fails because of automatic MTU reduction (case 2 above); all other tests fail because the configured MTU / MFL is not sufficient to hold the ClientHello message (case 1 above).

A PR to fix this issue has been opened: https://github.com/ARMmbed/mbedtls/pull/2050
There is one additional problem here - timing issues when running tests with full config. This is also covered by the forementioned PR.