Issuer Id and Subject Id fields of "mbedtls_x509_crt" is not populated using "mbedtls_x509_crt_parse" function

---------------------------------------------------------------
### Description
- Type: Bug 
- Priority: Blocker

---------------------------------------------------------------
## Bug
while parsing the V3 certificate the issuer id and subjcet Id field of "mbedtls_x509_crt" structure is not populated.
On debugging i found that in "x509_get_uid" function the tag value which is fetched from certificate is "A3" but expected tag value is "A1" due to which i am getting error "MBEDTLS_ERR_ASN1_UNEXPECTED_TAG".
certificated used:
"MIIFADCCA+igAwIBAgIBBzANBgkqhkiG9w0BAQsFADCBjzELMAkGA1UEBhMCVVMxEDAOBgNVBAgTB0FyaXpvbmExEzARBgNVBAcTClNjb3R0c2RhbGUxJTAjBgNVBAoTHFN0YXJmaWVsZCBUZWNobm9sb2dpZXMsIEluYy4xMjAwBgNVBAMTKVN0YXJmaWVsZCBSb290IENlcnRpZmljYXRlIEF1dGhvcml0eSAtIEcyMB4XDTExMDUwMzA3MDAwMFoXDTMxMDUwMzA3MDAwMFowgcYxCzAJBgNVBAYTAlVTMRAwDgYDVQQIEwdBcml6b25hMRMwEQYDVQQHEwpTY290dHNkYWxlMSUwIwYDVQQKExxTdGFyZmllbGQgVGVjaG5vbG9naWVzLCBJbmMuMTMwMQYDVQQLEypodHRwOi8vY2VydHMuc3RhcmZpZWxkdGVjaC5jb20vcmVwb3NpdG9yeS8xNDAyBgNVBAMTK1N0YXJmaWVsZCBTZWN1cmUgQ2VydGlmaWNhdGUgQXV0aG9yaXR5IC0gRzIwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDlkGZL7PlGcakgg77pbL9KyUhpgXVObST2yxcT+LBxWYR6ayuFpDS1FuXLzOlBcCykLtb6Mn3hqN6UEKwxwcDYav9ZJ6t21vwLdGu4p64/xFT0tDFE3ZNWjKRMXpuJyySDm+JXfbfYEh/JhW300YDxUJuHrtQLEAX7J7oobRfpDtZNuTlVBv8KJAV+L8YdcmzUiymMV33a2etmGtNPp99/UsQwxaXJDgLFU793OGgGJMNmyDd+MB5FcSM1/5DYKp2N57CSTTx/KgqT3M0WRmX3YISLdkuRJ3MUkuDq7o8W6o0OPnYXv32JgIBEQ+ct4EMJddo26K3biTr1XRKOIwSDAgMBAAGjggEsMIIBKDAPBgNVHRMBAf8EBTADAQH/MA4GA1UdDwEB/wQEAwIBBjAdBgNVHQ4EFgQUJUWBaFAmOD07LSy+zWrZtj2zZmMwHwYDVR0jBBgwFoAUfAwyH6fZMH/EfWijYqihzqsHWycwOgYIKwYBBQUHAQEELjAsMCoGCCsGAQUFBzABhh5odHRwOi8vb2NzcC5zdGFyZmllbGR0ZWNoLmNvbS8wOwYDVR0fBDQwMjAwoC6gLIYqaHR0cDovL2NybC5zdGFyZmllbGR0ZWNoLmNvbS9zZnJvb3QtZzIuY3JsMEwGA1UdIARFMEMwQQYEVR0gADA5MDcGCCsGAQUFBwIBFitodHRwczovL2NlcnRzLnN0YXJmaWVsZHRlY2guY29tL3JlcG9zaXRvcnkvMA0GCSqGSIb3DQEBCwUAA4IBAQBWZcr+8z8KqJOLGMfeQ2kTNCC+Tl94qGuc22pNQdvBE+zcMQAiXvcAngzgNGU0+bE6TkjIEoGIXFs+CFN69xpk37hQYcxTUUApS8L0rjpf5MqtJsxOYUPl/VemN3DOQyuwlMOS6eFfqhBJt2nk4NAfZKQrzR9voPiEJBjOeT2pkb9UGBOJmVQRDVXFJgt5T1ocbvlj2xSApAer+rKluYjdkf5lO6Sjeb6JTeHQsPTIFwwKlhR8Cbds4cLYVdQYoKpBaXAko7nv6VrcPuuUSvC33l8Odvr7+2kDRUBQ7nIMpBKGgc0T0U7EPMpODdIm8QC3tKai4W56gf0wrHofx1l7"

**OS**  
Mbed OS : linux

**mbed TLS build:**  
Version: 2.25.0 or git commit id : 1c54b5410fd48d6bcada97e30cac417c5c7eea67

**Expected behavior**   
Subject Id and Issuer Id field  of "mbedtls_x509_crt" should be populated.

**Actual behavior**  
getting error: "MBEDTLS_ERR_ASN1_UNEXPECTED_TAG" if "x509_get_uid".

![Screenshot (2)](https://user-images.githubusercontent.com/60175896/113567072-88ee2280-962b-11eb-9b9e-ae8be5c16e77.png)

![Screenshot (17)](https://user-images.githubusercontent.com/60175896/113549618-58988b00-960f-11eb-9ebd-50cf1d147ca9.png)


The certificate you posted does not have an issuerUniqueId or a subjectUniqueId. They are optional. When the library calls `x509_get_uid` to parse them, `x509_get_uid` sees a different tag. This is expected: the fields are not present, therefore `x509_get_uid` sees the tag of what follows (which is the extensions). See [RFC 5280 §4.1](https://tools.ietf.org/html/rfc5280#section-4.1) for the syntax of this part of the certificate: 0xA1 is the tag of the issuerUniqueId, 0xA2 is the tag of the subjectUniqueId, and 0xA3 is the tag of the extensions.

issuerUniqueId and subjectUniqueId are uncommon and have been [deprecated for some time](http://openssl.6102.n7.nabble.com/How-put-issuerUniqueID-into-certificate-td11399.html). The
[AuthorityKeyIdentifier](https://tools.ietf.org/html/rfc5280#section-4.2.1.1) and [SubjectKeyIdentifier](https://tools.ietf.org/html/rfc5280#section-4.2.1.2) extensions serve a similar purpose and are commonly used.

If you want to see the key identifier or serial number from these extensions, you can call `mbedtls_x509_crt_parse_der_with_ext_cb`, which takes a callback function that is called for every extension. You can store the addresses or values in your own data structures. There is a pending pull request to [extract those values](https://github.com/ARMmbed/mbedtls/pull/4161), so in future versions of Mbed TLS this may become automatic.


I am closing this issue because there does not appear to be a bug in Mbed TLS.