DTLS non-conforming cookie computation

### Description
- Type: Bug
- Priority: Minor 

## Non-conformance Bug
**OS**  
Linux, Ubuntu 20

**mbed TLS build:**  
Version: 2.26.0
Configuration: vanilla configuration

**Affected Versions**
DTLS 1.2

**Expected behavior**
According to the [DTLS 1.2. RFC](https://www.rfc-editor.org/rfc/rfc6347.html#page-17), the server should use supported cipher suites in cookie computation

>  When responding to a HelloVerifyRequest, the client MUST use the same
>   parameter values (version, random, session_id, cipher_suites,
>   compression_method) as it did in the original ClientHello.  The
>   server SHOULD use those values to generate its cookie and verify that
>   they are correct upon cookie receipt. 

**Actual Behavior**
Our testing shows that the MbedTLS server does not conform to the standard. It does not use the field when computing a cookie and thus allows cookie exchange to be completed by a second ClientHello message which has different supported cipher suites to the first. Looking at the code `ssl_check_dtls_clihlo_cookie` in `library/ssl_msg.c`, the same treatment applies to other fields (client random, etc.). This appears  to be done intentionally according to the comments (to minimize code duplication).  I just wanted to point out that this behavior is non-conforming.

**Steps to Reproduce**
I attached files necessary for reproduction using [DTLS-fuzzer](https://github.com/assist-project/dtls-fuzzer/), a Java-based tool for testing DTLS libraries. Also included in the archive is a capture of the interaction,  generated on my machine. DTLS-fuzzer requires  the JDK for Java 8. On Ubuntu, this can be installed  by running:
`sudo apt-get install openjdk-8-jdk`

Unpack the archive, `cd` to resulting folder and run `bash reproduce.sh non-conformingcookie.test`, while running an instance of Wireshark on the side. The reproduction script will: 
* setup MbedTLS 
* launch an MbedTLS client, configured with a high DTLS timeout value (to avoid retransmissions);
* launch DTLS-fuzzer to execute the sequence `non-conformingcookie.test`.

Also included in the archive is a  Wireshark capture exposing this issue. Check 'Cipher Suites' fields in the two ClientHello messages, and you will find that they are different, as can be seen in the above screenshots.
![first_ch](https://user-images.githubusercontent.com/2325013/117853118-52d63b00-b288-11eb-902b-834ca25bdcd3.png)
![second_ch](https://user-images.githubusercontent.com/2325013/117853126-55389500-b288-11eb-9306-6199459816d3.png)


[invalid_cookie.tar.gz](https://github.com/ARMmbed/mbedtls/files/6460676/invalid_cookie.tar.gz)




Thanks!


Hi @pfg666 and thanks for your report!

Just to make sure I understand: there are two part to the fragment of the RFC you're quoting: a requirement on the client, and one on the server. If I understand correctly, your report is only about the behaviour of the server right? (I was initially a bit confused because you wrote that `reproduce.sh` runs will launch an MbedTLS client, but looking at the script it looks like it's launching a server so I assume that was just a typo.)

In that case, I'm going to point out that the requirement on the server is only a SHOULD, which according to [RFC 2119 section 3](https://datatracker.ietf.org/doc/html/rfc2119#section-3) means:

Hi @mpg, you are right, in the reproduction description it should have been a server instead of a client. 

Thanks for clarifying the reasons for permitting this deviation, and also the potential implications. I understand the trade off, and why code size was prioritized. This deviation, indeed, does not affect the implementation's security.  

Looking at the code, I don't think it is feasible to address this requirement without increasing code size or making more significant changes (as in, changing method signatures).  Perhaps it would have been nice if a user of MbedTLS was given the choice of providing fully conforming methods for computing/checking the cookie. The signatures of the function types  [`mbedtls_ssl_cookie_write_t`](https://github.com/ARMmbed/mbedtls/blob/b7abba28e3e9ad5a82df07823700b47acfeb4912/include/mbedtls/ssl.h#L2165)  and [`mbedtls_ssl_cookie_check_t`](https://github.com/ARMmbed/mbedtls/blob/b7abba28e3e9ad5a82df07823700b47acfeb4912/include/mbedtls/ssl.h#L2182) do not appear to make this possible (unless you can get the ClientHello contents from the context).  Anyway, I am satisfied with the clear explanation, and am fine with closing the issue. 

I still believe the issue was worth reporting, since it helped identify the reasons for making this choice. 

Thanks for your response. I agree the issue was absolutely worth reporting, it's always good to double-check deviations from the standard. It's also good to know that there are people fuzzing (or otherwise testing) Mbed TLS and reporting the results, thanks for that!

I agree that we could provide two modes: the current one with small code size, and another with full check, controlled by a compile-time option. However these days we tend to be cautious about introducing too many compile-time options, as they tend to increase the cost of testing.

So, I'm closing as "wontfix" to acknowledge that there is indeed room for improvement, but that's not something we intend to work on in the foreseeable future.