mbedtls_dhm_make_public() x_size bug?

A patch being worth a thousand words :wink: ... what do you think of this?

https://github.com/jforissier/optee_os/commit/879d63558582965e35aff5d9e4e29d27cf059c66

TBH I'm not sure about the exact meaning of the `x_size` parameter here.

Actually I think words are clearer… This patch modifies `mbedtls_dhm_make_public` to change the validity interval for the private key. Before, it had to satisfy `dhm_check_range`, i.e. 2 ≤ X ≤ P-2. With this patch, there's an additional requirement that 2<sup>s-1</sup> ≤ X where s is the bit-size of P (assuming that `x_size` is the bit-size of P, otherwise the original code won't do the right thing anyway).

This patch is wrong and the original code is correct. A Diffie-Hellman private key can range the full interval up to the prime, except for 0, 1 and -1. See for example ANSI X9.42 or [RFC 2631 §2.2](https://tools.ietf.org/html/rfc2631#section-2.2).

> X9.42 requires that the private key x be in the interval [2, (q - 2)].  x should be randomly generated in this interval.

I'm not aware of a standard that puts additional requirements. Reducing the permitted interval for private keys is a loss of security. How much security is lost depends on the value of P. If P is close to 2<sup>s</sup> then the loss is one bit (since the top bit of X is now known to be 1). But if P is only slightly above 2<sup>s-1</sup> (i.e. P is `10000…xxxxx` in binary with lots of zeros after the leading 1), the permitted interval for X is a lot smaller, which means:

1. There's a major loss of security since the permitted range of private keys is small.
2. There's a potential denial of service, because most runs of the loop will generate a number that doesn't have the top bit set.

So you should not merge this patch. If other implementations of DH behave differently,.

Hi @gilles-peskine-arm,

Thanks for your detailed answer, much appreciated.

> Actually I think words are clearer…

Sorry, my intent was not to be lazy :wink:

> I'm not aware of a standard that puts additional requirements. 

I think the misunderstanding comes from the following text in the [GlobalPlatform TEE Internal Core API specification v1.2.1](https://globalplatform.org/specs-library/tee-internal-core-api-specification-v1-2/) section 5.6.7 TEE_GenerateKey (emphasis mine):

> Object type: TEE_TYPE_DH_KEYPAIR
> [...]
> The following parameters can optionally be passed:
> [...]
>TEE_ATTR_DH_X_BITS ( &#8467; )
>   If present, **constrains the private value x to have &#8467; bits**.

The meaning of "have &#8467; bits" is clarified nowhere in the spec. I do agree that understanding it as "the value is between 0 and 2<sup>&#8467;-1</sup>" is the most obvious interpretation.

For a bit more context: OP-TEE can use either Mbed TLS or LibTomCrypt. The LibTomCrypt support is older, and the DH generation function in upstream LTC doesn't have an `x_size` parameter. So custom changes were made to the library in OP-TEE to add this parameter, and tests were added accordingly. But as per your explanation, it seems the constraint wasn't understood properly at that time. Later when adding MbedTLS support we found out the behavior was different.

> If the Mbed TLS behavior is making a test case fail, this looks like a bug in the test.

OK I'll look into it. Thanks again.

Ah, I'd forgotten or never paid attention to `TEE_ATTR_DH_X_BITS` in the TEE API. I was only thinking of DH key generation in general. If the test is verifying what happens when `TEE_ATTR_DH_X_BITS` is the length of the prime, the test is probably correct: when I suspected a bug in the test, I was thinking of testing “generate a private key” and not “generate an ℓ-bit private key”.

I don't know why `TEE_ATTR_DH_X_BITS` exists. I can't think of another standard with this constraint. [PKCS#11](https://docs.oasis-open.org/pkcs11/pkcs11-curr/v2.40/cos01/pkcs11-curr-v2.40-cos01.html#_Toc408226958) doesn't (the description mentions a `CKA_VALUE_LEN`, but that's not the length of the private key, it's the length of derived keys).

Note that in addition to the potential DoS I mentioned in my earlier message, your patch only works if ℓ is a multiple of 8 since it checks the byte-size, not the bit-size.

Unless we have a very good reason (better than “GlobalPlatform requires it for compliance but we don't know why”, we're very unlikely to accept a patch to Mbed TLS to support this. We're trying to move away from supporting dangerous features, and this is a dangerous feature.


For information, we're considering removing the `x_size` parameter altogether: https://github.com/ARMmbed/mbedtls/issues/4277. This won't really matter to implementing `TEE_ATTR_DH_X_BITS` since `x_size` doesn't do the same thing.

> For information, we're considering removing the `x_size` parameter altogether: #4277. 

Thanks for the update.

> This won't really matter to implementing `TEE_ATTR_DH_X_BITS` since `x_size` doesn't do the same thing.

Uh? For me `TEE_ATTR_DH_X_BITS` and `x_size * 8` are the same thing, i.e., the maximum size for the DH secret as you stated in #4277.


`TEE_ATTR_DH_X_BITS` allows non-byte-aligned sizes, and it's an _exact_ size, isn't it? Whereas `x_size` is an upper bound on the size: the most significant bit has a 1/2 chance of being 0. So a different interface would be needed anyway.

> `TEE_ATTR_DH_X_BITS` allows non-byte-aligned sizes

Yes indeed, although I'm not sure how common it would be to select such sizes...

> and it's an _exact_ size, isn't it? Whereas `x_size` is an upper bound on the size: the most significant bit has a 1/2 chance of being 0.

No, I don't think so. The standard is unclear on that point ("constrains the private value to have ℓ bits"), and I chose to interpret it as an upper bound.



