renegotiation extension is always sent in server hello

ssl_write_server_hello() always sends secure renegotiation extension, even when the client does not support it.

This makes my (old) openssl client upset, as it's compiled without extensions support. Perhaps the extension should only be sent when client hello contains SCSV or the extension? Or possibly close the connection for such insecure clients.

RFC 5746:
   Note that sending a "renegotiation_info" extension in response to a
   ClientHello containing only the SCSV is an explicit exception to the
   prohibition in RFC 5246, Section 7.4.1.4, on the server sending
   unsolicited extensions and is only allowed because the client is
   signaling its willingness to receive the extension via the
   TLS_EMPTY_RENEGOTIATION_INFO_SCSV SCSV.  TLS implementations MUST
   continue to comply with Section 7.4.1.4 for all other extensions.
