x509_crt_parse_der_core does not handle certificates with length-0 issuer names

### Description
- Type: Bug

---------------------------------------------------------------
## Bug

**Expected behavior**   
A certificate passed to mbedtls_x509_crt_parse or received during an SSL handshake with an empty (length = 0) issuer name should be parsed.

**Actual behavior**
Such a certificate causes a "X509 - The name tag or value is invalid : ASN1 - Out of data when parsing an ASN1 data structure" error (0x23E0 I believe?). This is because of this code:

```
    crt->issuer_raw.p = p;

    if( ( ret = mbedtls_asn1_get_tag( &p, end, &len,
            MBEDTLS_ASN1_CONSTRUCTED | MBEDTLS_ASN1_SEQUENCE ) ) != 0 )
    {
        mbedtls_x509_crt_free( crt );
        return( MBEDTLS_ERR_X509_INVALID_FORMAT + ret );
    }

    if( ( ret = mbedtls_x509_get_name( &p, p + len, &crt->issuer ) ) != 0 )
    {
        mbedtls_x509_crt_free( crt );
        return( ret );
    }
```

which fails in `mbedtls_x509_get_name` if `len` is 0; similar to the issue with empty subject name reported [here](https://tls.mbed.org/discussions/bug-report-issues/error-the-name-tag-or-value-is-invalid-asn1-out-of-data)

mbedtls will happily write such a certificate using `mbedtls_x509write_crt_pem`; this leads to certificates that write successfully (and can be used by other peers!) but cannot be read back in.


According to [RFC 5280 §4.1.2.4](https://tools.ietf.org/html/rfc5280#section-4.1.2.4), an issuer name may not be empty. The real world doesn't always follow the RFC though. Is there a reason why Mbed TLS should accept a certificate with an empty issuer name?

In any case issuer name and subject name, and reading and writing, should probably be treated consistently.

After chatting with other members of the team, our thinking is that accepting empty names is non-standard and adds risk: will other code (in Mbed TLS or elsewhere) handle this case correctly? Might an empty name be a misconfiguration that should be detected rather than accepted?

If there is a real-world use case for an empty issuer name, we're open to supporting it. But otherwise we'll make the parser and writer consistently reject empty issuer and subject names.

@jamespicone What is your interest here? Did you just happen to notice the inconsistency, or do you have a concrete use for empty names?

Sorry I didn't get back to you immediately; I was on leave for a couple of days.

I'm implementing an iPhone protocol that goes something like this:
- Generate a self-signed CA certificate ('R')
- Generate a certificate ('H'), sign it with R
- Get a public key from the iPhone, use it to make a certificate ('D'), sign it with R.
- Then do an SSL handshake using H as your certificate and R as the CA.

And I've been finding that the device sends back certificates with an empty issuer name during the SSL handshake step, even if R had a name. It's possible I screwed something up of course; I'll have a bit of a fiddle and see if I can get a certificate with an issuer name back from the device.

There's a gnutls and openssl implementation of the certificate generation part of the protocol [here](https://github.com/libimobiledevice/libimobiledevice/blob/333eb1aec92f02b0b61f9ec23880861b93d42c60/common/userpref.c#L378) (function pair_record_generate_keys_and_certs if the line anchor doesn't work) and the SSL handshake [here](https://github.com/libimobiledevice/libimobiledevice/blob/333eb1aec92f02b0b61f9ec23880861b93d42c60/src/idevice.c#L980). No issuer name is involved; I don't know whether gnutls/openssl allow parsing certificates with an empty issuer name or whether they default issuer name to something when writing a certificate.

Thanks for sharing your use case! Could you clarify how “use it to make a certificate” works? Is that an iOS API?

The device public key is used as the subject key for an x509 certificate. The first piece of code I linked does that. I probably should have mentioned that the H, R and D certificates are sent to the iPhone before the SSL handshake.

With some fiddling I've discovered that setting issuer and subject names appropriately for R, H, and D causes the iPhone to set an appropriate issuer name for the certificate it sends during the SSL handshake, so it looks like this isn't required. You may or may not want to fix the inconsistency. I do think it's worth noting that both the OpenSSL and gnutls implementations of the algorithm I'm describing - which I've linked above - don't appear to set subject or issuer names for the certificates and things work fine, but I guess it's possible they have a default name of some kind. Might be worth looking into how gnutls and OpenSSL handle names?