How to add IP address and DNS name using Subject Alternate name in server/product certificate while creating self-signed certificate

I want to create self-signed certificate for my product. 
In product certificate how to add Subject alternate name for IP address and DNS name.
we are using mbedtls 1.2.0.
Once Subject alternate name is created is it possible to change IP address and DNS name at run-time and create certificate?
I am using cert_write.c (standard file of mbedTLS/programs/x509)



@EatonSnehal Hello
Here is a test code I wrote, maybe it can help you.(Base on mbedtls branch development, I don't know what will happen when it used at version 1.2.0)

<pre>
<code>
#define MBEDTLS_SAN_MAX_LEN    64
typedef struct mbedtls_write_san_node{
    char* host;
    size_t hostlen;
}mbedtls_write_san_node;

typedef struct mbedtls_write_san_list{
    mbedtls_write_san_node node;
    struct mbedtls_write_san_list* next;
}mbedtls_write_san_list;

static size_t mbedtls_get_san_list_deep(const mbedtls_write_san_list* sanlist)
{
    size_t ret = 0;

    const mbedtls_write_san_list* cur = sanlist;
    while ( cur )
    {
        ++ret;
        cur = cur->next;
    }

    return ret;
}

int mbedtls_x509write_crt_set_subject_alternative_name(mbedtls_x509write_cert *ctx, const mbedtls_write_san_list* sanlist)
{
    int	ret = 0;
    size_t sandeep = 0;
    const mbedtls_write_san_list* cur = sanlist;
    unsigned char* buf;
    unsigned char* pc;
    size_t len;
    size_t buflen = 0;

    /* How many DNS names to be written */
    sandeep = mbedtls_get_san_list_deep(sanlist);
    if ( sandeep == 0 )
        return ret;

    buflen = MBEDTLS_SAN_MAX_LEN * sandeep + sandeep;
    buf = mbedtls_calloc(1, buflen);
    if ( !buf )
        return MBEDTLS_ERR_ASN1_ALLOC_FAILED;

    mbedtls_zeroize(buf, buflen);
    pc = buf + buflen;

    len = 0;
    while ( cur )
    {
        MBEDTLS_ASN1_CHK_ADD(len, mbedtls_asn1_write_raw_buffer(&pc, buf, (const unsigned char *)cur->node.host, cur->node.hostlen));
        MBEDTLS_ASN1_CHK_ADD(len, mbedtls_asn1_write_len(&pc, buf, cur->node.hostlen));
        MBEDTLS_ASN1_CHK_ADD(len, mbedtls_asn1_write_tag(&pc, buf, MBEDTLS_ASN1_CONTEXT_SPECIFIC | 2));

        cur = cur->next;
    }

    MBEDTLS_ASN1_CHK_ADD(len, mbedtls_asn1_write_len(&pc, buf, len));
    MBEDTLS_ASN1_CHK_ADD(len, mbedtls_asn1_write_tag(&pc, buf, MBEDTLS_ASN1_CONSTRUCTED | MBEDTLS_ASN1_SEQUENCE));

    ret = mbedtls_x509write_crt_set_extension(
        ctx,
        MBEDTLS_OID_SUBJECT_ALT_NAME,
        MBEDTLS_OID_SIZE(MBEDTLS_OID_SUBJECT_ALT_NAME),
        0,
        buf + buflen - len,
        len);

    return ret;
}
</code>
</pre>


You need append every DNS name to the list **mbedtls_write_san_list**, and then, just call **mbedtls_x509write_crt_set_subject_alternative_name**

If any bug be found, please tell me.

@EatonSnehal Thank you for your interest in Mbed TLS!
Note that there is no Mbed TLS version 1.2.0 . Do you mean Polar SSL 1.2.0 ? If so, note that this is a very old unsupported version. There have been since many fixes to the library, some of them securuty bug fixes. We recommend you upgrade your version. If you meant Mbed TLS 2.1.0 , then it is in a supported branch, but we recomend you upgrade to latest 2.1.x version, as there were bug fixes added since version 2.1.0

@raprepo Thank you for your code example! Would you be willing to contribute it as a PR? I suggest you fix the memory leak you have in the code as well. Currently, i am not sure how it can fit to an embedded library, but it needs to be thoroughly checked, in the Pr.

This issue is related to #1017 

Thank you so much I will try the code.
As I am completely new to this concept and also to library I have some basic doubts?
1. Where should I actually call this function in cert_write.c file , before write_certificate().
2. As I have descreibed I want to create self- sign certificate what should be below settings:
#define DFL_SELFSIGN            0
#define DFL_IS_CA               0
#define DFL_MAX_PATHLEN         -1
#define DFL_KEY_USAGE           0
#define DFL_NS_CERT_TYPE        0
Actually when we keep DFL_SELFSIGN as 1 then as per code issuer_name and subject_name becomes same. But then we don't want it be same, so does keeping DFL_SELFSIGN as 0 adheres to all functionality of SELFSIGN certificate.
3. I am using keil 5.23 and in that the mbedTLS version latest supported is 1.5.0, would this solve memory leak issue you are talking.

4. Can IP address be also added as alternate names, As we require both DNS name and IP address.

Request you to support as I think I need to face many issues :(


@EatonSnehal I suggest you update your KEIL version ( latest is 5.25 ). The Mbed TLS version there is 2.6.0 ( not an LTS version, but considered a stable version)

Note that `cert_write` is an example certificate, and not meant to be a utility program. You can use it for your needs, with your addition \ changes.

Th memory leak I refered to was in the code example shown in comment by @raprepo 
If you are generating a self signed certificate, then by definition the issuer and subject are the same.

IP address *can* be an alternative subject name

@EatonSnehal    Same as HOST NAME, Convert a numeric form of an IP address to a string, then add it to list.
@RonEld   I create and free the list at the outside the function, so the list wont be leak :)

You *can* take the example application, and expand it as you wish. All I meant is that it is a reference program, and does not cover all use cases.

From brief look, the code @raprepo showed, *should* work, after the memory leak fixed there, but at the moment it's not production quality. The function should be called, when all the other extensions are being set. I haven't tested it myself though.

@raprepo, you are allocating memory for `buf` but you are not freeing it.

@RonEld Oh You mean buf, yes, it does leak memory 👍 

Maybe should allocate memory for 'buf' at the outside of the function, because MBEDTLS_ASN1_CHK_ADD may bring the function return and cause a memory leak.

ok I will free buf memory in piece of code shared.
I kindly request to test code once this would be really helpful. As my system is complex it would be difficult for me to find out bug and I would be in trouble :(

I would like to ask same question again about **settings of self sign certificate** are below settings correct:
#define DFL_ISSUER_CRT          ""
#define DFL_REQUEST_FILE        ""
#define DFL_SELFSIGN 0
 #define DFL_IS_CA 0
 #define DFL_MAX_PATHLEN -1
 #define DFL_KEY_USAGE 0
 #define DFL_NS_CERT_TYPE 0


@EatonSnehal Note that as I mentioned earllier, the code is not production quality, and if contributed, it will probably change a bit.

Please read [this article](https://tls.mbed.org/kb/how-to/generate-a-self-signed-certificate) on how to generate a self signed certificate, and adjust your code accordingly

I found that there is mbedtls_free (buf) function which is doing memory free right?
Is there any other buffer, I mean I didn't find...
 There is one issue as suggested I converted IP into string and added that in list , SUbject Alternative field is seen in certificate but only with DNS Name can we add IP Address field, because Chrome and Firefox are throuwing error NET::ERROR_CERT_COMMON_NAME_INVALID as in product/server certificate I have put CN as IP address of device.


Request to reply please....


Could you please help me with this **MBEDTLS_ASN1_CONTEXT_SPECIFIC | 2** what 

As shown in [RFC5280 section 4.2.1.6](https://tools.ietf.org/html/rfc5280#section-4.2.1.6):
~~~
 GeneralName ::= CHOICE {
        otherName                       [0]     OtherName,
        rfc822Name                      [1]     IA5String,
        dNSName                         [2]     IA5String,
        x400Address                     [3]     ORAddress,
        directoryName                   [4]     Name,
        ediPartyName                    [5]     EDIPartyName,
        uniformResourceIdentifier       [6]     IA5String,
        iPAddress                       [7]     OCTET STRING,
        registeredID                    [8]     OBJECT IDENTIFIER }
~~~
So using IP address should *probably* be 7 instead of 2.
Note I haven't looked at it thoroughly, and I may be missing a level in the ASN notation

Hi Ron,

I tried using tag 7 instead of 2 and IP address is shown, but if IP address is for example 1.2.3.4 then it is displayed in Ascii format as 31 2e 32 2e 33 2e 34 2e.
What I understand is IP should be sent in octet form for correct display so I tried using function int mbedtls_asn1_write_octet_string( unsigned char **p, unsigned char *start,
                             const unsigned char *buf, size_t size ) which has same function call as you have used only, tag is used is directly MBEDTLS_ASN1_OCTET_STRING . With this function nothing is displayed

Could you suggest me how to pass IP or string to function so IP address is displayed correctly?

Regards,
Snehal.

From: Ron Eldor [mailto:notifications@github.com]
Sent: Thursday, July 26, 2018 12:51 PM
To: ARMmbed/mbedtls
Cc: Patil, Snehal; Mention
Subject: [EXTERNAL] Re: [ARMmbed/mbedtls] How to add IP address and DNS name using Subject Alternate name in server/product certificate while creating self-signed certificate (#1878)


As shown in RFC5280 section 4.2.1.6<https://tools.ietf.org/html/rfc5280#section-4.2.1.6>:

 GeneralName ::= CHOICE {

        otherName                       [0]     OtherName,

        rfc822Name                      [1]     IA5String,

        dNSName                         [2]     IA5String,

        x400Address                     [3]     ORAddress,

        directoryName                   [4]     Name,

        ediPartyName                    [5]     EDIPartyName,

        uniformResourceIdentifier       [6]     IA5String,

        iPAddress                       [7]     OCTET STRING,

        registeredID                    [8]     OBJECT IDENTIFIER }

So using IP address should probably be 7 instead of 2.
Note I haven't looked at it thoroughly, and I may be missing a level in the ASN notation

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/ARMmbed/mbedtls/issues/1878#issuecomment-408001817>, or mute the thread<https://github.com/notifications/unsubscribe-auth/AnsP0-908KkXgvQymmHR1u8opjU8hYbnks5uKW3QgaJpZM4VcYcY>.


@EatonSnehal please don't reply in Email, as it adds garbage to the comment

Yes, it should be Octet String.
Please try `mbedtls_asn1_write_tag(&pc, buf, MBEDTLS_ASN1_CONTEXT_SPECIFIC | MBEDTLS_ASN1_OCTET_STRING | 7)`
Note my suggestion only adds the `subjectaltlen` as ip address, so it is not production worthy for merging into the library, and you will not be able to use a different Subject Alternative name

I will not be able to use different Subject Alternative name does this mean that 
1. If I go for IP address addition in SubjectAltname I won't be able to use DNS name and IP address simultaneously?
2. If customer changes IP address then would I be able to update that IP address in Subject alternate name ?


>If I go for IP address addition in SubjectAltname I won't be able to use DNS name and IP address simultaneously?

If you hard-code the value 7 and `MBEDTLS_ASN1_OCTET_STRING ` in the API, then correct. You do it in  your application, depending on what subject alternative name you wnt to add, and at the end, call:
~~~
   MBEDTLS_ASN1_CHK_ADD(len, mbedtls_asn1_write_len(&pc, buf, len));
    MBEDTLS_ASN1_CHK_ADD(len, mbedtls_asn1_write_tag(&pc, buf, MBEDTLS_ASN1_CONSTRUCTED | MBEDTLS_ASN1_SEQUENCE));

    ret = mbedtls_x509write_crt_set_extension(
        ctx,
        MBEDTLS_OID_SUBJECT_ALT_NAME,
        MBEDTLS_OID_SIZE(MBEDTLS_OID_SUBJECT_ALT_NAME),
        0,
        buf + buflen - len,
        len);
~~~

>If customer changes IP address then would I be able to update that IP address in Subject alternate name ?

You will need to change certificate if the IP isn't in the Subject Alternative Name extension. Note that a certificate should be generated by a trusted CA, depending on your business model, and you cannot just change a certificate on runtime.

So this means in function written by you: int mbedtls_x509write_crt_set_subject_alternative_name(mbedtls_x509write_cert *ctx, const mbedtls_write_san_list* sanlist) (I think I will need to pas IP also as parameter)
it should be as follows for DNS name and IP address simulataneously:
unsigned int ip = 0x0100007f;
        MBEDTLS_ASN1_CHK_ADD(len, mbedtls_asn1_write_raw_buffer(&pc, buf, (const unsigned char *)&ip, sizeof(ip)));
        MBEDTLS_ASN1_CHK_ADD(len, mbedtls_asn1_write_len(&pc, buf, sizeof(ip)));
        MBEDTLS_ASN1_CHK_ADD(len, mbedtls_asn1_write_tag(&pc, buf, MBEDTLS_ASN1_CONTEXT_SPECIFIC | 7));
 while ( cur )
    {			
			  MBEDTLS_ASN1_CHK_ADD(len, mbedtls_asn1_write_raw_buffer(&pc, buf, (const unsigned char *)cur->node.host, cur->node.hostlen));
        MBEDTLS_ASN1_CHK_ADD(len, mbedtls_asn1_write_len(&pc, buf, cur->node.hostlen));
			  MBEDTLS_ASN1_CHK_ADD(len, mbedtls_asn1_write_tag(&pc, buf, MBEDTLS_ASN1_CONTEXT_SPECIFIC | 2 ));
			  
        cur = cur->next;
    }
 MBEDTLS_ASN1_CHK_ADD(len, mbedtls_asn1_write_len(&pc, buf, len));
    MBEDTLS_ASN1_CHK_ADD(len, mbedtls_asn1_write_tag(&pc, buf, MBEDTLS_ASN1_CONSTRUCTED | MBEDTLS_ASN1_SEQUENCE));

    ret = mbedtls_x509write_crt_set_extension(
        ctx,
        MBEDTLS_OID_SUBJECT_ALT_NAME,
        MBEDTLS_OID_SIZE(MBEDTLS_OID_SUBJECT_ALT_NAME),
        0,
        buf + buflen - len,
        len);

@EatonSnehal If you want to add full support for Subject Alternative Name, you will need more than just ipaddress and DNS name. In addition, your example forces ip address and an optional list of DNS name. If this is your use case then OK.
If you want to continue discussing code, it is better it will be pushed as a PR, as it is a better platform for it. The code, as is, cannot be merged to Mbed TLS, as it is very specific use case, and tests need to be added.

PR means Pull Request in github, not related to TLS

Hi,

I am facing 1 issue. With your help I was able to add IP address and DNS name both in certificate.
Now on Chrome I am able to access webpage when CN (common name) is either given as IP address or host name or we can dns name.
But IE is not supporting this, when both are present it overrides IP address and displays web page securely only with DNS name.
Could you please help me with this?

Hi,
Is [this](https://www.redelijkheid.com/blog/2011/6/8/microsoft-internet-explorer-and-ip-addresses-in-certificate.html) what you are receiving?

yes exactly.. and I was just saw this site..
I will try this solution and reply...
Thanks for such quick response its really helpful and useful

There doesn't seem to be a solution. It seems to be a bug in IE.


Actually what I understand is IP address in SAN field is not understood by IE, it understands DNS name. So IP needs to be given as DNS name. Actually what I was understanding that IE doesn't require SAN field. But IE is overriding IP address field when DNS name is added in  SAN, due to this in CN IP address is not identified and web page is not opened as secure page but same can be done as secure page when host name is used as CN.

I have some doubt:
1. Can we add multiple DNS names in Subject Alternative Names ?
2. Is the sequence important when we create DNS names in SAN field? Does this multiple DNS names sequence matter with CN that we give in Certificate as subject name?

Request to reply.


@EatonSnehal Yes, you can have several DNS names in the Subject Alternative Names

I don't understand your second question

I mean if we have 3 DNS names and suppose CN used in certificate is "Github"
then would it be ok if this name is set at 3rd DNS name in SAN filed like
IP address = some xyz ip address
DNS name = some xyz name
DNS name= some abc name
DNS name = Github


@EatonSnehal I am sorry, but I still don't understand your question.
From [RFC 5280](https://tools.ietf.org/html/rfc5280#section-4.2.1.6):
>The subject alternative name extension allows identities to be bound
   to the subject of the certificate.  These identities may be included
   in addition to or in place of the identity in the subject field of
   the certificate.

The DNS list contains a list of subject names, which are in addition (or replacing) to the subject. The order of the sequence should not make difference.

ok I understood... NP..
1 generic question about GitHub profile:
Is it possible to change the profile name on GitHub, I mean name which is displaying as EatonSnehal

Look at your github profile, in your account settings you can change your user name.
It is better you ask github. Read [this](https://help.github.com/articles/what-happens-when-i-change-my-username/) before

I just tried changing but I was not able to change, so just for confirming method.
Request to reply.

Please contact github support for any github related questions

I tried the 26/07/2018 comment but I must be missing something.
Can anyone help ?

My code is in http://svn.code.sf.net/p/esp32-acme-client/code/trunk/libraries/acmeclient/Acme.cpp (see function Acme::CreateAltUrlList) :+1: 
`int Acme::CreateAltUrlList(mbedtls_x509write_csr req) {
  int l = 20;
  int ret;

  for (int i=0; alt_urls[i]; i++) {
    l += strlen(alt_urls[i]) + 20;
  }
  unsigned char *buf = (unsigned char *)malloc(l), *p = buf + l;

  int len = 0;
  for (int i=0; alt_urls[i]; i++) {
    MBEDTLS_ASN1_CHK_ADD(len, mbedtls_asn1_write_raw_buffer(&p, buf, (const unsigned char *)alt_urls[i], strlen(alt_urls[i])));
    MBEDTLS_ASN1_CHK_ADD(len, mbedtls_asn1_write_len(&p, buf, strlen(alt_urls[i])));
    MBEDTLS_ASN1_CHK_ADD(len, mbedtls_asn1_write_tag(&p, buf, MBEDTLS_ASN1_CONTEXT_SPECIFIC | 2));
  }

  MBEDTLS_ASN1_CHK_ADD(len, mbedtls_asn1_write_len(&p, buf, len));
  MBEDTLS_ASN1_CHK_ADD(len, mbedtls_asn1_write_tag(&p, buf, MBEDTLS_ASN1_CONSTRUCTED | MBEDTLS_ASN1_SEQUENCE));

  if ((ret = mbedtls_x509write_csr_set_extension(&req,
        MBEDTLS_OID_SUBJECT_ALT_NAME, MBEDTLS_OID_SIZE(MBEDTLS_OID_SUBJECT_ALT_NAME),
        (const unsigned char *)p, len)) != 0) {
    char errbuf[80];
    mbedtls_strerror(ret, errbuf, sizeof(errbuf));
    ESP_LOGE(acme_tag, "%s: mbedtls_x509write_csr_set_extension failed %s (0x%04x)", __FUNCTION__, errbuf, -ret);
  }

  free(buf);
  ESP_LOGD(acme_tag, "%s: ret %d", __FUNCTION__, ret);
  return ret;
}`


Here's some code you can all use for adding a list of hostnames, ip addresses, email addresses, and URIs to the Subject Alternative Name section of your certificate.

```c
typedef struct mbedtls_x509write_san {
  int tag;
  const char *val;
} mbedtls_x509write_san;

int mbedtls_x509write_crt_set_subject_alternative_name(
    mbedtls_x509write_cert *ctx, const mbedtls_x509write_san *san,
    size_t sanlen) {
  int ret, a, b, c;
  size_t i, len, cap, itemlen;
  unsigned char *pc, *buf, *item, ip4[4];
  if (!sanlen) return 0;
  cap = sanlen * (253 + 5 + 1) + 5 + 1;
  if (!(buf = mbedtls_calloc(1, cap))) return MBEDTLS_ERR_ASN1_ALLOC_FAILED;
  pc = buf + cap;
  len = 0;
  for (i = sanlen; i--;) {
    switch (san[i].tag) {
      case MBEDTLS_X509_SAN_RFC822_NAME:
      case MBEDTLS_X509_SAN_DNS_NAME:
      case MBEDTLS_X509_SAN_UNIFORM_RESOURCE_IDENTIFIER:
        item = (const unsigned char *)san[i].val;
        itemlen = strlen(san[i].val);
        break;
      case MBEDTLS_X509_SAN_IP_ADDRESS:
        if (inet_pton(AF_INET, san[i].val, ip4) == 1) {
          item = ip4;
          itemlen = 4;
        } else {
          ret = MBEDTLS_ERR_X509_BAD_INPUT_DATA;
          goto finish;
        }
        break;
      default:
        ret = MBEDTLS_ERR_X509_FEATURE_UNAVAILABLE;
        goto finish;
    }
    if (itemlen > 253) {
      ret = MBEDTLS_ERR_ASN1_INVALID_LENGTH;
      goto finish;
    }
    ret = mbedtls_asn1_write_raw_buffer(&pc, buf, item, itemlen);
    if (ret < 0) goto finish;
    len += ret;
    ret = mbedtls_asn1_write_len(&pc, buf, itemlen);
    if (ret < 0) goto finish;
    len += ret;
    ret = mbedtls_asn1_write_tag(&pc, buf,
                                 MBEDTLS_ASN1_CONTEXT_SPECIFIC | san[i].tag);
    if (ret < 0) goto finish;
    len += ret;
  }
  ret = mbedtls_asn1_write_len(&pc, buf, len);
  if (ret < 0) goto finish;
  len += ret;
  ret = mbedtls_asn1_write_tag(
      &pc, buf, MBEDTLS_ASN1_CONSTRUCTED | MBEDTLS_ASN1_SEQUENCE);
  if (ret < 0) goto finish;
  len += ret;
  ret = mbedtls_x509write_crt_set_extension(
      ctx, MBEDTLS_OID_SUBJECT_ALT_NAME,
      MBEDTLS_OID_SIZE(MBEDTLS_OID_SUBJECT_ALT_NAME), 0, buf + cap - len, len);
finish:
  mbedtls_free(buf);
  return ret;
}
```

Once you have that you can simply say:

```c
  mbedtls_x509write_san san[] = {
      {MBEDTLS_X509_SAN_DNS_NAME, "redbean.justine.lol"},
      {MBEDTLS_X509_SAN_IP_ADDRESS, "10.10.10.124"},
      {MBEDTLS_X509_SAN_RFC822_NAME, "jtunney@gmail.com"},
      {MBEDTLS_X509_SAN_UNIFORM_RESOURCE_IDENTIFIER, "https://justine.lol"},
  };
  mbedtls_x509write_crt_set_subject_alternative_name(cw, san, ARRAYLEN(san));
```

Which is an easier API than the previous example (thanks @raprepo for teaching me) and it fixes the possibility of memory leaks and buffer overruns.

Looks like I posted off-topic (I am trying to get a certificate via ACME so I want to write a legitimate CSR - certificate signing request - with more than one host name).

Can you make your MbedTLS+ACME code open source? I want to use it. 

My acmeclient library, you mean ?

It's at https://sourceforge.net/projects/esp32-acme-client/ and I think 
I put it under LGPL.

Does that work for you ?

     Danny

On 27/06/2021 02:22, Justine Tunney wrote:
>
> Can you make your MbedTLS+ACME code open source? I want to use it.
>
> —
> You are receiving this because you commented.
> Reply to this email directly, view it on GitHub 
> <https://github.com/ARMmbed/mbedtls/issues/1878#issuecomment-869078661>, 
> or unsubscribe 
> <https://github.com/notifications/unsubscribe-auth/ACO47FNXKGQICQWURX2QCLDTUZVLHANCNFSM4FLRQ4MA>.
>
-- 
Danny Backx - ***@***.*** - http://danny.backx.info
